---
// No props needed for now
---

<div class="absolute inset-0 opacity-20">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[800px] h-[800px] border border-cosmic-blue rounded-full twinkle"></div>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[600px] h-[600px] border border-nasa-red rounded-full twinkle" style="animation-delay: -1s;"></div>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[400px] h-[400px] border border-neon rounded-full twinkle" style="animation-delay: -2s;"></div>
</div> 